li
{
    list-style-type: none;
    font-family: fantasy;
    width: 20%;
    text-align: left;
    display: inline;
}

li a
{
    text-decoration: none;
    color: cadetblue;
    text-align: left;
    vertical-align: middle;
}

ul
{
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 0%;
    margin: 0;
    padding: 0;
}

h1
{
    text-align: center;
    vertical-align: middle;
    font-family: league-gothic-regular;
}

header, #header
{
    background-image: url(beach-sunrise-1149548.jpg);
    background-size: cover;
    height: 50%;
    width: 100%;
    position: relative;
}

body
{
    margin: 0%;
    padding: 0%;
}

@font-face
{
    font-family: 'league-gothic-regular';
    src: url('theleagueof-league-gothic-64c3ede/webfonts/leaguegothic-regular-webfont.ttf') format('truetype');
}
