li
{
    list-style-type: none;
    font-family: fantasy;
    text-align: left;
    display: inline;
    line-height: 15%;
    margin: 0%;
    padding: 5%;
}

.menu
{
    text-align: left;
    background-color: aqua;
    height: 10%;
    width: 30%;
    margin: 5% 0;
    padding: 1% 0;
    position: fixed;
    display: block;
    z-index: 4;
}

.home
{
    vertical-align: middle;
    text-align: left;
    padding: 1%;
    height: 10%;
}

.home a
{
    text-decoration: none;
    color: white;
    font-family: fantasy;
}

.dropdown-content a
{
    text-decoration: none;
    color: deeppink;
    text-align: left;
    display: inline;
    vertical-align: middle;
    margin: 0%;
    padding: 0%;
    line-height: 15%;
    background-color: dimgray;
}

.dropdown-content a:hover
{
    background-color: darkgrey;
}

ul
{
    height: 10%;
    min-height: 1.2em;
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 0%;
    margin: 0;
    padding: 0.5%;
    background-color: aqua;
    display: inline;

}

h1
{
    text-align: left;
    vertical-align: top;
    font-family: league-gothic-regular;
    padding: 0%;
    margin: 0%;
    font-size: 16px;
    display: inline;
}

header, .header
{
    background-image: url(beach-sunrise-1149548.jpg);
    background-size: cover;
    height: 50%;
    width: 100%;
    position: relative;
    z-index: 2;
    opacity: 0.75;
}

.dropdownbtn
{
    background-color: aqua;
    color: white;
    padding: 1%;
    border: none;
    cursor: pointer;
}

.dropdownbtn:hover, dropdownbtn:focus
{
    background-color: deepskyblue;
}

.bar
{
    width: 10%;
    height: 2.5%;
    background-color: black;
    margin: 1% 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

body
{
    margin: 0%;
    padding: 0%;
}

@font-face
{
    font-family: 'league-gothic-regular';
    src: url('theleagueof-league-gothic-64c3ede/webfonts/leaguegothic-regular-webfont.ttf') format('truetype');
}

#content
{
    background-image: url(sunrise-182302.jpg);
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.5;
}

#content-left, #content-right
{
    height: 100%;
    width: 50%;
    float: left;
}
